on: [ pull_request ]
name: Static analysis

jobs:
  phpstan:
    name: PHPStan
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: 8.1
          extensions: apcu, redis
          coverage: none
          tools: cs2pr

      - name: Download dependencies
        uses: ramsey/composer-install@v3

      - name: PHPStan
        run: ./vendor/bin/phpstan analyze --no-progress --error-format=checkstyle | cs2pr

  psalm:
    name: Psalm
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: 8.1
          extensions: apcu, redis
          coverage: none
          tools: cs2pr

      - name: Download dependencies
        uses: ramsey/composer-install@v3

      - name: Psalm
        run: ./vendor/bin/psalm --no-progress --output-format=github
